@import "tailwindcss";

:root {
  --font-kirsty: 'Kirsty', sans-serif;
}

:root {
  --font-kirsty: 'Sora', sans-serif;
}

.font-kirsty {
  font-family: var(--font-kirsty);
  letter-spacing: 3px;
}

.font-sora {
  font-family: var(--font-sora);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}